name : Multi-Feature CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  Addition:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - name: Build and Test Addition
        run: |
          g++ Addition/addition.cpp Addition/test.cpp -o test
          ./test



  Subtraction:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build and test Subtraction
        run: |
          g++ Subtraction/subfun.cpp Subtraction/test_subtraction.cpp -o test_sub
          ./test_sub
