name: C CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile
        run: gcc -Wall -Werror addition.cpp test.cpp -o test

      - name: Run Tests
        run: ./test
