name : Code Coverage Pipeline

on:
    push:
        branches: ["main"]
        
    pull_request:

        
jobs:
    Coverage:

        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Install coverage tools
              run: sudo apt-get update && sudo apt-get install -y lcov

            - name: Compile with coverage file
              run: |
                g++ --coverage Calculator/calculator.cpp Calculator/test_calculator -o test
            
            - name: Run Code
              run: ./test

            - name: Capture coverage data
              run: lcov --capture --directory . --output-file coverage.info

            - name: Generate HTML report
              run: genhtml coverage.info --output-directory coverage

            - name: Upload coverage report
              uses: actions/upload-artifact@v4
              with:
                name: coverage-report
                path: coverage

